# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @sergical will be requested for review when someone 
# opens a pull request.
*       @sergical

# Package files
package.json    @sergical
pnpm-lock.yaml  @sergical

# Source code
/src/           @sergical

# Tests
/src/__tests__/ @sergical

# GitHub specific files
/.github/       @sergical 